.report__item-offset {
	margin-right: 20px;	
	font-size: calc(0.735vw + 5.64px);
  line-height: 15px;
	width: 100px;
}

@media all and (min-width:1000px) {
	.report__item-offset{
		font-size: 13px;
	}
}

@media all and (max-width:720px) {
	.report__item-offset {
		margin: 0;
	}
}
