.report__item-user {
	font-size: calc(0.735vw + 5.64px);
  line-height: 14px;
}

@media all and (min-width:1000px) {
	.report__item-user{
		font-size: 12px;
	}
}

@media all and (max-width:720px) {
	.report__item-user {
		margin: 0;
	}
}