.report__list-header {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: calc(0.735vw + 5.64px);
	line-height: 15px;
	color: #939DA6;
}

@media all and (min-width:1000px) {
	.report__list-header {
		font-size: 13px;
	}
}

@media all and (max-width: 720px) {
	.report__list-header {
		margin: 0;
	}
}